
# Environments
.env
.env*.local

# Dependencies
/node_modules
/frontend/node_modules
/functions/node_modules

# Firebase
.firebase/
storage-debug.log
firestore-debug.log
ui-debug.log

# Build outputs
/frontend/.next/
/functions/lib/

# Test files
/storage-test-files/

# IDE config
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
